sudo: false

cache: yarn

language: node_js

env:
  global:
  - NODE_ENV='test'
  - DOCKER_USERNAME='maximruiz+microservicios'
  - DOCKER_PASSWORD='I6VZ7ZJZPU21Z1A67DBG0JAX56JO9388ZB7PURUOBSW974QK9K96XQUO9M8FBX0B'

before_install:
  - cd ./$SERVICE
  - nvm install
  - nvm use
  - node --version

install: 
  - yarn install

before_script:
  - SERVICE=$SERVICE make ensure-dependencies
  - sleep 10

script:
  - make qa
  - make brand
  - make package

matrix:
  include:
    - env: SERVICE=recipes-api
      services:
        - docker
    - env: SERVICE=recipes-crawler
      services:
        - docker
    - env: SERVICE=recipes-id-generator
      services:
        - docker